<div class="search-page">
  <% if @posts.exists? %>
    <h1 class="search-header" align="center">Top Posts</h1>
  <% else %>
    <h1 class="search-empty-header" align="center">Oop! No matching posts ...</h1>
  <% end %>
  <%= render 'shared/post_list' %>
</div>