<div class="google-oauth-container" align="center">
    <a href="<%= user_google_oauth2_omniauth_authorize_path%>" id="google-signin">
        <%= image_tag "btn_google_signin_dark_normal_web.png"%>
    </a>
</div>
<hr>