<div class="homepage">
  <% if user_session %>
    <div class='form-upload'>
      <%= render 'upload_form' %>
    </div>
  <% end %>
  <div class="posts">
    <% @posts.each do |post| %>
      <%= render 'post',  post: post %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
